# *_PANDAS_* 
###### Créer, charger et selectionner

In [3]:
import pandas as pd

## Créer un Dataframe

###### A partir d'un dictionnaire ou d'une liste

- _*Un dictionnaire:*_ 
 
 Les clefs correspondent aux colonnes et les valeurs aux lignes

In [6]:
data = {'nom':['Anthony', 'Maria'], 
        'age':[30, 28]}

In [10]:
df= pd.DataFrame(data)

- _*Une liste:*_

Une liste de liste toujours  [[...], [..]], pour chaque lignes

In [15]:
dataListe = [['Tom', 20], 
            ['Jack', 30], 
            ['Meera', 25]]

On transforme la liste en Dataframe, en lui passant le nom des colonnes.

In [16]:
df1= pd.DataFrame(dataListe, columns= ['Name', 'Age'])

## Créer un CSV
_*Comma Separate Variables*_

Un CSV suit la nommenclature suivante:

`column1,column2,column3  
value1,value2,value3  
value11, value22, value33`

On passe simplement à la ligne suivante pour créer notre tableau,  
la première étant les colonnes...  
puis les lignes de valeurs, séparé par des virgules.

###### df.to_csv('file_name.csv')
Pour créer un CSV depuis un Dataframe

###### pd.read_csv('csv-file.csv')
Pour passer un CSV en Dataframe

## Examiner un Dataframe

`df.head()` affiche les 10 premières lignes du Datafrmane

`df.info()` nous donne les statistiques pour chaques colonnes

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Name    3 non-null object
Age     3 non-null int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

`df.describe()` donne des statistiques plus globales

In [9]:
df1.describe()

        Age
count   3.0
mean   25.0
std     5.0
min    20.0
25%    22.5
50%    25.0
75%    27.5
max    30.0

## Selectionner des colonnes
Select Columns

`df.col_name` si le nom de la colonne n'a pas d'espace ou de caractère spécial

In [17]:
df1.Name

0      Tom
1     Jack
2    Meera
Name: Name, dtype: object

`df['col_name']` pour selectionner comme avec un dictionnaire, une clef qui va nous donner ses valeurs associées

In [18]:
df1['Name']

0      Tom
1     Jack
2    Meera
Name: Name, dtype: object

Exemple pour un dataset d'achat de chaussures;

On va selectionner dans notre tableau `df` dans les colonnes `shoe_type` `&` `shoe_color` uniquement les personnes qui ont achetés des `sandals`, `black`.

In [ ]:
df[(df.shoe_type == 'sandals') & (df.shoe_color == 'black')]

Ici même chose mais pour selectionner la ou les personnes qui se nomment `Susan` `Dennis`

In [ ]:
df[(df.first_name == 'Susan') & (df.last_name == 'Dennis')]