# _Pandas III_
___Modifier un DataFrame___

In [5]:
import pandas as pd

* Le DataFrame de base

In [20]:
dataListe = [['Tom', 20, 'bleue'], ['Jack', 30, 'bleue'], ['Marie', 20, 'rose'], ['Nono', 50, 'rose']]
df= pd.DataFrame(dataListe, columns= ['Name', 'Age', 'Couleur_favorite'])
df

    Name  Age Couleur_favorite
0    Tom   20            bleue
1   Jack   30            bleue
2  Marie   20             rose
3   Nono   50             rose

## *Ajouter une colonne*
Add columns

* Rajoute une col *'Email'*, remplie par une *`list`*

In [22]:
df['Email'] = ['Tomy.Tom@gmail.com', 'Polo.Jack@gmail.com', 'Bouchon.Marie@gmail.com', 'Damiens.Nono@gmail.com']

* Si on ne précise pas, on rajoute à toute les col la même valeurs

In [23]:
df['Age_Retraite'] = 50

###### Opérer sur des colonnes pour en créer une nouvelle

* Créé une col et la remplie à partir de l'opération sur d'autres col, ici on soustrait les val de 2 col pour remplir celle nouvellement créé

In [24]:
df['Tps_avant_retraite'] = df.Age_Retraite - df.Age

* Créée la col *'Travaille'*, on la remplie en s'appuyant sur la col *'Age'*  
On `.apply()` sur *'Age'* une *`lambda`* qui renvoie 'oui' si la valeur dans *'Age'* est inférieur à 50 sinon 'non'

###### Utliser une *`lambda`* pour créer une colonne

In [25]:
df['Travaille'] = df.Age.apply(lambda x: 'oui' if x < 50 else 'non')

* Col ou l'on récupère le Nom de famille dans les 'Emails'  
*`split()`* le *`str`* présent dans _'Emails'_ au niveau des '.' et on récupère le 1er élément `[0]``

In [26]:
df['Nom'] = df.Email.apply(lambda x: x.split('.')[0])

* Une col *'Description'* remplie à partir des autres col  
On lui passe *`axis=1`* car on veut que la varb de la *`lambda`* *'row'* passe sur toutes les lignes et non juste sur une col(qui serait alors 'axis=0')

In [36]:
df['description'] = df.apply(lambda row: "{} {} est à {} années de la retraite"\
    .format(row.Name,
            row.Nom,
            row.Tps_avant_retraite),
    axis=1)

***
le résultats de toutes ces colonnes ajoutés

In [37]:
df

,Name,Age,Couleur_favorite,Email,Age_Retraite,Tps_avant_retraite,Travaille,Nom,description
0,Tom,20,bleue,Tomy.Tom@gmail.com,50,30,oui,Tomy,Tom Tomy est à 30 années de la retraite
1,Jack,30,bleue,Polo.Jack@gmail.com,50,20,oui,Polo,Jack Polo est à 20 années de la retraite
2,Marie,20,rose,Bouchon.Marie@gmail.com,50,30,oui,Bouchon,Marie Bouchon est à 30 années de la retraite
3,Nono,50,rose,Damiens.Nono@gmail.com,50,0,non,Damiens,Nono Damiens est à 0 années de la retraite

## *Modifier un DataFrame*

### Modifier les colonnes
*`axis=0`*

* Sur la colonne 'Couleur_favorite' on *`.apply()`* applique *`capitalizetalize`* qui mettre une majuscule au début de chaque mots

In [60]:
df.Couleur_favorite.apply(str.capitalize).inplace=True

In [61]:
df

,Name,Age,Couleur_favorite,Email,Age_Retraite,Tps_avant_retraite,Travaille,Nom,description
0,Tom,20,bleue,Tomy.Tom@gmail.com,50,30,oui,Tomy,Tom Tomy est à 30 années de la retraite
1,Jack,30,bleue,Polo.Jack@gmail.com,50,20,oui,Polo,Jack Polo est à 20 années de la retraite
2,Marie,20,rose,Bouchon.Marie@gmail.com,50,30,oui,Bouchon,Marie Bouchon est à 30 années de la retraite
3,Nono,50,rose,Damiens.Nono@gmail.com,50,0,non,Damiens,Nono Damiens est à 0 années de la retraite

### Modifier les lignes
*`axis=1`* avec cet arg, la varb d'une *`lambda`* passera sur toutes les lignes, et pourra donner accès au col, comme ceci *`varb.col`*

In [97]:
df.Age_Retraite.apply(lambda row: 67 if row.Age > 25)

SyntaxError: invalid syntax (<ipython-input-97-ccf75a2c50f3>, line 1)

In [ ]:
df.apply(lambda row: 'Dear Ms. ' + row.last_name if row.gender=='female' else 'Dear Mr. ' + row.last_name, axis=1)

* Trier les lignes avec *`.sort_values()`*, prend une *`list`* si on lui passe plusieurs vals  
  Ici on va trier le df par 'Age' décroissant, puis par 'Tps_avant_retraite'

In [83]:
df.sort_values(by=['Age', 'Tps_avant_retraite'], ascending=False) # si une val => .sort_values(by='Age')

,Nom,Prenom,Age,Email,Age_Retraite,Tps_avant_retraite,Couleur_favorite,Travaille,Description
3,Damiens,Nono,50,Damiens.Nono@gmail.com,50,0,rose,non,Nono Damiens est à 0 années de la retraite
1,Polo,Jack,30,Polo.Jack@gmail.com,50,20,bleue,oui,Jack Polo est à 20 années de la retraite
0,Tomy,Tom,20,Tomy.Tom@gmail.com,50,30,bleue,oui,Tom Tomy est à 30 années de la retraite
2,Bouchon,Marie,20,Bouchon.Marie@gmail.com,50,30,rose,oui,Marie Bouchon est à 30 années de la retraite

In [82]:
df.Nom.str.len().sort_values()

0    4
1    4
2    7
3    7
Name: Nom, dtype: int64

In [ ]:
df['length'] = df['name'].str.len()
df.sort_values('length', ascending=False, inplace=True)

### Supprimer

#### Supprimer des Colonnes *`.drop(... , axis=1)`*  
Pour signifier que c'est une col que l'on veut supprimer on spécifie toujours *`axis=1`*  
car sinon c'est une ligne

Syntaxe: ***`df.drop(['colx', 'coly'], axis=1)***

In [74]:
df.drop(['Couleur_favorite', 'Tps_avant_retraite'], axis=1) #, inplace=True)

,Nom,Prenom,Age,Email,Age_Retraite,Travaille,Description
0,Tomy,Tom,20,Tomy.Tom@gmail.com,50,oui,Tom Tomy est à 30 années de la retraite
1,Polo,Jack,30,Polo.Jack@gmail.com,50,oui,Jack Polo est à 20 années de la retraite
2,Bouchon,Marie,20,Bouchon.Marie@gmail.com,50,oui,Marie Bouchon est à 30 années de la retraite
3,Damiens,Nono,50,Damiens.Nono@gmail.com,50,non,Nono Damiens est à 0 années de la retraite

#### Supprimer des Lignes

### Renomer des colonnes
syntaxe: ***`df.rename(columns={'ancien nom': 'nouveau nom'})`***  
On passe à *`df.rename`* l'arg *`columns`* qui prend un *`dict`* des anciens et nouveaux noms de col

In [62]:
df.rename(columns={'Name': 'Prenom', 'description': 'Description'}, inplace=True)

In [63]:
df

,Prenom,Age,Couleur_favorite,Email,Age_Retraite,Tps_avant_retraite,Travaille,Nom,Description
0,Tom,20,bleue,Tomy.Tom@gmail.com,50,30,oui,Tomy,Tom Tomy est à 30 années de la retraite
1,Jack,30,bleue,Polo.Jack@gmail.com,50,20,oui,Polo,Jack Polo est à 20 années de la retraite
2,Marie,20,rose,Bouchon.Marie@gmail.com,50,30,oui,Bouchon,Marie Bouchon est à 30 années de la retraite
3,Nono,50,rose,Damiens.Nono@gmail.com,50,0,non,Damiens,Nono Damiens est à 0 années de la retraite

### Changer des colonnes de places
Change columns order

In [65]:
cols = df.columns.tolist()
cols

['Prenom',
 'Age',
 'Couleur_favorite',
 'Email',
 'Age_Retraite',
 'Tps_avant_retraite',
 'Travaille',
 'Nom',
 'Description']

In [68]:
chg_col_name =['Nom','Prenom','Age','Email','Age_Retraite',
          'Tps_avant_retraite','Couleur_favorite','Travaille','Description']

In [73]:
df=df[chg_col_name] # On lui passe une list dans une list [[]]
df

,Nom,Prenom,Age,Email,Age_Retraite,Tps_avant_retraite,Couleur_favorite,Travaille,Description
0,Tomy,Tom,20,Tomy.Tom@gmail.com,50,30,bleue,oui,Tom Tomy est à 30 années de la retraite
1,Polo,Jack,30,Polo.Jack@gmail.com,50,20,bleue,oui,Jack Polo est à 20 années de la retraite
2,Bouchon,Marie,20,Bouchon.Marie@gmail.com,50,30,rose,oui,Marie Bouchon est à 30 années de la retraite
3,Damiens,Nono,50,Damiens.Nono@gmail.com,50,0,rose,non,Nono Damiens est à 0 années de la retraite