# Pratique, le Dataset du Titanic

**Le but est prévoire si une personne survit ou non**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')

In [4]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

On observe que nous avons 3 types de variables parmis nos colonnes, 
- **Continues** : "*age*" et "*fare*"
- **Discrètes** : "*pclass*", "*survived*", ...
- **Des Charactères** : "*sex*", "*who*", "*class*", ...

Pour gérer ces différents types de variables entre nos colonnes nous allons utliser `make_column_transformer`pour traiter chaque colonnes comme il se doit.

## Preparer le Dataset

- Sépare la colonne des prédictions

In [5]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, y_train, x_test, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [8]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((712, 14), (179, 14), (712,), (179,))

## Pre-processing

In [12]:
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

### **`make_column_transformer`**

Selection et séparation de nos colonnes en focntion de leur variables **Catégoriels** ou **Numériques**

In [18]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [10]:
numeric_var = ['pclass', 'age', 'fare']
categorie_var = ['sex', 'deck', 'alone']

#### Pipeline variables Continue
- Normalisation avec `StandardScaler()` 
- Supprimer les valeurs manquantes avec `SimpleImputer()`

In [19]:
numericale_pipeline = make_pipeline(SimpleImputer(),
                                    StandardScaler())

#### Pipeline variables Catégoriel 
- Gestion des valeurs manquantes avec `SimpleImputer()`et leur remplacement par les valles plus fréquentes
- Encodage avec `OneHotEncoder()`

In [20]:
categorical_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'),
                                     OneHotEncoder())