# *_PANDAS  I_* 
___Créer, charger et selectionner___

In [2]:
import pandas as pd

## Créer un Dataframe 

A partir d'un dictionnaire ou d'une liste

- **Un dictionnaire:**  
Les clefs correspondent aux colonnes et les valeurs aux lignes

In [3]:
data = {'nom':['Anthony', 'Maria'], 
        'age':[30, 28]}

In [4]:
df= pd.DataFrame(data)

- **Une liste:**  
Une liste de liste toujours  [[...], [..]], pour chaque lignes

In [119]:
dataListe = [['Tom', 20, 'bleue'], ['Jack', 30, 'bleue'], ['Marie', 20, 'rose'], ['Nono', 50, 'rose']]

* On transforme la liste en Dataframe, en lui passant le nom des colonnes.  
Syntaxe: ***df = pd.dataframe(list_ligne, columns = ['col_name',' ..'])***

In [120]:
df1= pd.DataFrame(dataListe, columns= ['Name', 'Age', 'Couleur_favorite'])

## Créer un CSV
_Comma Separate Variables_

Un CSV suit la nommenclature suivante:

_`column1,column2,column3  
value1,value2,value3  
value11, value22, value33`_

On passe simplement à la ligne suivante pour créer notre tableau,  
la première étant les colonnes...  
puis les lignes de valeurs, séparé par des virgules.

_`df.to_csv('file_name.csv')`_
Pour créer un CSV depuis un Dataframe

_`pd.read_csv('csv-file.csv')`_
Pour passer un CSV en Dataframe

## Examiner un Dataframe

>- _`.head()`_ affiche les 10 premières lignes du Datafrmane
>- _`.info()`_ résume la plus part des infos sur la tables
>- _`.describe()`_ nous donne les statistiques pour chaques colonnes
>- _`.columns()`_  renvoie le nom des col de la table
>- _`.value_counts()`_ pour une colonne, renvoie les stats sur cette colonne

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Name                3 non-null object
Age                 3 non-null int64
Couleur_favorite    3 non-null object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [78]:
df1.describe()

             Age
count   4.000000
mean   30.000000
std    14.142136
min    20.000000
25%    20.000000
50%    25.000000
75%    35.000000
max    50.000000

## Selectionner des données dans un dataframe

### Selectionner des colonnes
Select Columns

>- _`df.col_name`_ si le nom de la colonne n'a pas d'espace ou de caractère spécial
>- _`df['col_name']`_ même chose que précédement pour selectionner comme avec un dictionnaire, une clef qui va nous donner ses valeurs associées
>- _`df[['col_x', 'col_y']]` pour selectionner plusieurs colonnes, on peut passer le noms des colonnes dans une `list` de `list` `[['.','.']]`

In [122]:
df1.Name # == df1['Name']

0      Tom
1     Jack
2    Marie
3     Nono
Name: Name, dtype: object

* Selection de plusieurs colonnes

In [123]:
df1[['Name', 'Age']]

    Name  Age
0    Tom   20
1   Jack   30
2  Marie   20
3   Nono   50

### Selectionner des lignes
select rows

>- *`.iloc[]`* pour "*integer location*", pour selectionner une ligne avec un *`int`*, prend un index dans une *`list`*
>- *`.loc[]`* selectionne par *label, index, ou conditions*, on lui passe dans une *`list`*; un label(*`str`*) si les indexes son des *`string`*, ou un nombre

***
* À *`iloc[]`* comme à *`loc[]`* on peut leur passer comme param dans la *`list`* une première *`list`* qui appel les Lignes et une 2ème qui appel les colonnes que l'on veut sélectionner. ex: *`df.iloc[[row], [col]]`*

In [152]:
df1.iloc[[0,3], [1,2]] # Ligne 0 et 3, colonnes 1 et 2

   Age Couleur_favorite
0   20            bleue
3   50             rose

* On peut fairles même oprération que sur les `list`, ici on renvoie le df à l'envers

In [153]:
df1.iloc[::-1]

    Name  Age Couleur_favorite
3   Nono   50             rose
2  Marie   20             rose
1   Jack   30            bleue
0    Tom   20            bleue

###### Changer l'index d'un DF par le contenue d'une colonne

* *`.set_index('col')`* on remplace les index de nb par la col 'Name' du df1  
Pour pouvoir se servir de *`.loc[]`* et lui passer un *`str`* d'index

In [154]:
dfNameIndex = df1.set_index('Name')
dfNameIndex

       Age Couleur_favorite
Name
Tom     20            bleue
Jack    30            bleue
Marie   20             rose
Nono    50             rose

* *`.loc[]`* Peut prendre entrer un indexe qui soit un nb ou des lettres

In [155]:
dfNameIndex.loc['Nono']

Age                   50
Couleur_favorite    rose
Name: Nono, dtype: object

* *`.loc[]`* Permet de mettre des conditions sur des cols sans même quels n'apparaissent en suite dans le retour   
Ici on pose une conditions sur la col 'Age'>20 et on retourne le résultat de la col 'Couleur_favorite'

In [156]:
dfNameIndex.loc[dfNameIndex['Age'] > 20, ['Couleur_favorite']]

     Couleur_favorite
Name
Jack            bleue
Nono             rose

## Selectionner avec des conditions

On fixe des conditions avec des opérateurs, des valeurs présentes ou non, ou supérieur à ...ect ...

synthaxe: ***`df[df.col conditions]`*** ou ***`df[(df.col.condition) & (df.col.condition)]`***  
          ***`df.loc[df['col_caché'] condition, [col_return]]`***

>- Les opérateurs: *`&`, `|`, `<>`, `==`*
>- les built-in fct: *`any`, `all`, `notnull`,* ...
>- *`isin`* permet de faire matcher avec une recherche un *`str`* dasn une  col ou une ligne; ex: `df.col.isin(['bleue']` reverra les lignes de la col ou se trouve le mots 'bleue'
>- *`.str.contains()`* peut être similaire à *`isin`* permet de sélectionner si un champs contient un *`str`* on lui peut passer ainsi des *`regex`* ou des conditions `&`, `|`, .... et eton peut lui passer partiellement le contenue il le renverra comme même, ex: 'b' pourra renvoyer 'bleue'

***
* Simple affiche la ligne qui contient 'Tom' dans la colonne 'Name'  ( peut aussi marcher pour tous le df si on ne précise pas la col)

In [116]:
df1[df1.Name == 'Tom']

  Name  Age Couleur_favorite
0  Tom   20            bleue

* Sélectionne dans notre tableau `df1` dans les colonnes *`.Age` `&` `Couleur_favorite`* uniquement les personnes qui ont plus de `20` ans , et dont leur couleyr est le `bleue`.

In [93]:
df1[(df1.Age > 20) & (df1.Couleur_favorite == 'bleue')]
# On peut si nécéssaire reverser le résultat dans une nouvelles varb pour créer un nouveau DF

   Name  Age Couleur_favorite
1  Jack   30            bleue

###### Pour les _`string`_

* 
*`str.contains()`* Va rechercher dans la col.Name les `str` qui contiennent les lettres 'o' ou 'J'

In [124]:
df1[df1.Name.str.contains('o|J')]

   Name  Age Couleur_favorite
0   Tom   20            bleue
1  Jack   30            bleue
3  Nono   50             rose

* *`str.contains()`* avec *`Regex`*

In [125]:
df1[df1['Couleur_favorite'].str.contains(r'ro(?!$)')]

    Name  Age Couleur_favorite
2  Marie   20             rose
3   Nono   50             rose

* *`isin([''])`* recherche le mot exacte, ici 'rose, dans la col.Couler_favorite

In [126]:
df1[df1.Couleur_favorite.isin(['rose'])]

    Name  Age Couleur_favorite
2  Marie   20             rose
3   Nono   50             rose

###### utilisation de *`.loc[]`*

* *`.loc[]`* Permet de mettre des conditions sur des cols sans même quels n'apparaissent en suite dans le retour   
Ici on pose une conditions sur la col 'Age'>20 et on retourne le résultat de la col 'Couleur_favorite'

In [157]:
dfNameIndex.loc[dfNameIndex['Age'] > 20, ['Couleur_favorite']]

     Couleur_favorite
Name
Jack            bleue
Nono             rose

## Appliquer des conditions pour tous le DF
apply conditions to all dataframe  

syntaxe: ***`df[(df conditions).conditions]`***

Sur tous le DF on lui demande de ressortir les éléments égales à "Nono", avec *`.any(axis=1)`*, si au moins 1 élément du DF est évalué à True il va le ou les renvoyer, ici avec `axis=1`il va retourner des lignes complètes.

In [115]:
df1[(df1 == 'Nono').any(axis=1)]

   Name  Age Couleur_favorite
3  Nono   50             rose

### Références

- https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7
- https://secretdatascientist.com/popular-pandas-snippets/
- http://itc.njotto.com/2017/07/11/useful-pandas-snippets/
- https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/