# _Pandas II_
___Modifier un DataFrame___

In [5]:
import pandas as pd

* Le DataFrame de base

In [20]:
dataListe = [['Tom', 20, 'bleue'], ['Jack', 30, 'bleue'], ['Marie', 20, 'rose'], ['Nono', 50, 'rose']]
df= pd.DataFrame(dataListe, columns= ['Name', 'Age', 'Couleur_favorite'])
df

    Name  Age Couleur_favorite
0    Tom   20            bleue
1   Jack   30            bleue
2  Marie   20             rose
3   Nono   50             rose

## *Ajouter une colonne*
Add columns

* Rajoute une col *'Email'*, remplie par une *`list`*

In [22]:
df['Email'] = ['Tomy.Tom@gmail.com', 'Polo.Jack@gmail.com', 'Bouchon.Marie@gmail.com', 'Damiens.Nono@gmail.com']

* Si on ne précise pas, on rajoute à toute les col la même valeurs

In [23]:
df['Age_Retraite'] = 50

###### Opérer sur des colonnes pour en créer une nouvelle

* Créé une col et la remplie à partir de l'opération sur d'autres col, ici on soustrait les val de 2 col pour remplir celle nouvellement créé

In [24]:
df['Tps_avant_retraite'] = df.Age_Retraite - df.Age

* Créée la col *'Travaille'*, on la remplie en s'appuyant sur la col *'Age'*  
On `.apply()` sur *'Age'* une *`lambda`* qui renvoie 'oui' si la valeur dans *'Age'* est inférieur à 50 sinon 'non'

###### Utliser une *`lambda`* pour créer une colonne

In [25]:
df['Travaille'] = df.Age.apply(lambda x: 'oui' if x < 50 else 'non')

* Col ou l'on récupère le Nom de famille dans les 'Emails'  
*`split()`* le *`str`* présent dans _'Emails'_ au niveau des '.' et on récupère le 1er élément `[0]``

In [26]:
df['Nom'] = df.Email.apply(lambda x: x.split('.')[0])

* Une col *'Description'* remplie à partir des autres col  
On lui passe *`axis=1`* car on veut que la varb de la *`lambda`* *'row'* passe sur toutes les lignes et non juste sur une col(qui serait alors 'axis=0')

In [36]:
df['description'] = df.apply(lambda row: "{} {} est à {} années de la retraite"\
    .format(row.Name,
            row.Nom,
            row.Tps_avant_retraite),
    axis=1)

***
le résultats de toutes ces colonnes ajoutés

In [37]:
df

,Name,Age,Couleur_favorite,Email,Age_Retraite,Tps_avant_retraite,Travaille,Nom,description
0,Tom,20,bleue,Tomy.Tom@gmail.com,50,30,oui,Tomy,Tom Tomy est à 30 années de la retraite
1,Jack,30,bleue,Polo.Jack@gmail.com,50,20,oui,Polo,Jack Polo est à 20 années de la retraite
2,Marie,20,rose,Bouchon.Marie@gmail.com,50,30,oui,Bouchon,Marie Bouchon est à 30 années de la retraite
3,Nono,50,rose,Damiens.Nono@gmail.com,50,0,non,Damiens,Nono Damiens est à 0 années de la retraite

In [ ]:
import string

df['shoe_type'] = df.shoe_type.apply(string.lower)

In [31]:
df

,Name,Age,Couleur_favorite,Email,Age_Retraite,Tps_avant_retraite,Travaille,Nom,description
0,Tom,20,bleue,Tomy.Tom@gmail.com,50,30,oui,Tomy,Tom Tomy est à 30 de la retraite
1,Jack,30,bleue,Polo.Jack@gmail.com,50,20,oui,Polo,Jack Polo est à 20 de la retraite
2,Marie,20,rose,Bouchon.Marie@gmail.com,50,30,oui,Bouchon,Marie Bouchon est à 30 de la retraite
3,Nono,50,rose,Damiens.Nono@gmail.com,50,0,non,Damiens,Nono Damiens est à 0 de la retraite