# *_PANDAS  I_* 
###### Créer, charger et selectionner

In [2]:
import pandas as pd

## Créer un Dataframe 

A partir d'un dictionnaire ou d'une liste

- **Un dictionnaire:**  
Les clefs correspondent aux colonnes et les valeurs aux lignes

In [3]:
data = {'nom':['Anthony', 'Maria'], 
        'age':[30, 28]}

In [4]:
df= pd.DataFrame(data)

- **Une liste:**  
Une liste de liste toujours  [[...], [..]], pour chaque lignes

In [76]:
dataListe = [['Tom', 20, 'bleue'], ['Jack', 30, 'bleue'], ['Meera', 20, 'rose'], ['Nono', 50, 'rose']]

On transforme la liste en Dataframe, en lui passant le nom des colonnes.

In [77]:
df1= pd.DataFrame(dataListe, columns= ['Name', 'Age', 'Couleur_favorite'])

## Créer un CSV
_Comma Separate Variables_

Un CSV suit la nommenclature suivante:

_`column1,column2,column3  
value1,value2,value3  
value11, value22, value33`_

On passe simplement à la ligne suivante pour créer notre tableau,  
la première étant les colonnes...  
puis les lignes de valeurs, séparé par des virgules.

_`df.to_csv('file_name.csv')`_
Pour créer un CSV depuis un Dataframe

_`pd.read_csv('csv-file.csv')`_
Pour passer un CSV en Dataframe

## Examiner un Dataframe

>- _`.head()`_ affiche les 10 premières lignes du Datafrmane
>- _`.info()`_ résume la plus part des infos sur la tables
>- _`.describe()`_ nous donne les statistiques pour chaques colonnes
>- _`.columns()`_  renvoie le nom des col de la table
>- _`.value_counts()`_ pour une colonne, renvoie les stats sur cette colonne

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Name                3 non-null object
Age                 3 non-null int64
Couleur_favorite    3 non-null object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [78]:
df1.describe()

             Age
count   4.000000
mean   30.000000
std    14.142136
min    20.000000
25%    20.000000
50%    25.000000
75%    35.000000
max    50.000000

## Selectionner des données dans un dataframe

### Selectionner des colonnes
Select Columns

>- _`df.col_name`_ si le nom de la colonne n'a pas d'espace ou de caractère spécial
>- _`df['col_name']`_ même chose que précédement pour selectionner comme avec un dictionnaire, une clef qui va nous donner ses valeurs associées
>- _`df[['col_x', 'col_y']]` pour selectionner plusieurs colonnes, on peut passer le noms des colonnes dans une `list` de `list` `[['.','.']]`

In [33]:
df1.Name # == df1['Name']

0      Tom
1     Jack
2    Meera
Name: Name, dtype: object

selection de plusieurs colonnes

In [79]:
df1[['Name', 'Age']]

    Name  Age
0    Tom   20
1   Jack   30
2  Meera   20
3   Nono   50

### Selectionner des colonnes avec des conditions

On fixe des conditions avec des opérateurs, des valeurs présentes ou non, ou supérieur à ...ect ...

>- Les opérateurs: *`&`, `|`, `<>`, `==`*
>- les built-in fct: *`any`, `all`, `isin`, `notnull`,* ...
>- *`.str.contains()`* peut être similaire à *`isin`* permet de sélectionner si un champs du df contient un *`str`* on lui peut passer ainsi des *`regex`*

***
Sélectionne dans notre tableau `df1` dans les colonnes *`.Age` `&` `Couleur_favorite`* uniquement les personnes qui ont plus de `20` ans , et dont leur couleyr est le `bleue`.

In [93]:
df1[(df1.Age > 20) & (df1.Couleur_favorite == 'bleue')]
# On peut si nécéssaire reverser le résultat dans une nouvelles varb pour créer un nouveau DF

   Name  Age Couleur_favorite
1  Jack   30            bleue

In [100]:
df1[df1.Name.str.contains('o|J')]

   Name  Age Couleur_favorite
0   Tom   20            bleue
1  Jack   30            bleue
3  Nono   50             rose

In [104]:
df1[df1.Couleur_favorite.isin(['rose'])]

    Name  Age Couleur_favorite
2  Meera   20             rose
3   Nono   50             rose

## Selectionner des lignes
select rows

>- *`.iloc[]`* pour "*integer location*", pour selectionner une ligne avec un nombre, prend un index dans une *`list`*
>- *`.loc[]`* selectionne par *label, index, ou conditions*, on lui passe dans une *`list`* un label(*`str`*), ou un nombre

### Références

- https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7
- https://secretdatascientist.com/popular-pandas-snippets/
- http://itc.njotto.com/2017/07/11/useful-pandas-snippets/